/*.navbar-custom {

	background-color: #DBE2E8 !important;


}
.navb{
	color: #F1F6F9;
}
*/
.container {

margin-bottom: 40px;
margin-top: 40px;

}
.jumbotron{
margin-top:80px;

}
