*{
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.container {

margin-bottom: 40px;
margin-top: 40px;

}
.jumbotron{
margin-top:80px;

}

.divider{

	border-left: 20px;
}
