<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <nav class="navbar navbar-light" style="background-color: #E9ECEF;">

        <div class="col-md-10"><span class="navbar-brand mb-0 h1"><h1>Catalog App</h1></span></div>
        <div class="col-md-2 text-right">
            <a href="{{url_for('showLogin')}}">Click Here to Log in </a>
        </div>
    </nav>

    <div class='flash'>
        {% with messages = get_flashed_messages() %} {% if messages %}

        <ul>
            {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}

    </div>

    <div class="container">
        <div class="jumbotron">
            <div class="row">

                <div class="col">
                    <h2>Categories</h2> {% for catalog in catalogs %}
                    <a href='{{url_for("showItems",  cat_id = catalog.id)}}'>{{catalog.name}}</a>
                    <br> {% endfor %}
                </div>

                <div class="col">
                    <h2>Latest</h2>
                    <br> {% for i in items%} {{i.name}} {{(i.category_id.name)}}

                    <br> {%endfor%}

                </div>

            </div>

        </div>

    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>